[General]
poll_interval = 15
bridge_hostname = 192.168.0.10
city = Toronto

[Lights]
# Times can be: Always, Day, Night, or time frame in the form "10:00:00 to 17:00:00"
Den = Always
End table = Night

[Groups]
# Times can be: Always, Day, Night, or time frame in the form "10:00:00 to 17:00:00"
Hallway = 22:00:00 to 3:00:00

[Devices]
# MAC and IPs to check for - IPs are set as reserved in router to avoid changes
192.168.0.11/32 = 00:00:00:00:00:01
192.168.0.12/32 = 00:00:00:00:00:00